<!DOCTYPE html>
<html>
<head>
  <title>Play Game!</title>
</head>
<body>

  <div ng-if=" turn_info.mode == 'caption' ">
    <h4>Your drawing is...</h4>
    <img ng-src=" {{ turn_info.fpath }} " />

    <input autofocus="true" name="new_caption"/>
  </div>

  <div ng-if=" turn_info.mode == 'draw' ">
    <h4>Your caption is...</h4>
    <h4> {{ turn_info.caption }} </h4>

    <canvas drawing width="400px" height="400px" style="border: 1px solid black"></canvas>
    <a ng-click="pencil()">Pencil</a>
    <a ng-click="marker()">Marker</a>
    <a ng-click="eraser()">Eraser</a>
    <a ng-click="erase_all()">Erase All</a>
    <a ng-click="debug()">Debug</a>
  </div>

  <h5 ng-bind="turn_info.time_left"></h5>

  <button ng-click="debug()"> debug </button>

</body>
</html>
