<!DOCTYPE html>
<html>
<head>
  <title>Play Game!</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
</head>
<body>

  <div ng-repeat="chain in data">
    <div ng-repeat="turn in chain">
      <h4 ng-if="turn.type == 'caption'" ng-bind="turn.data"></h4>
      <img ng-if="turn.type == 'image'" ng-href="turn.data" />
      <p ng-if="turn.owner !== null" ng-bind="turn.owner"></p>
    </div>
  </div>

  <button ng-click="debug()"> debug </button>

</body>
</html>
